
<body>
<div align="center">
    <p align="left">Дезигн</p>
    <p>{{project.id}}</p>
    <p>{{project.title}}</p>
    <p>{{project.description}}</p>

    <p>Не назначенные тикеты</p>
    {% for ticket in open_tickets %}
    <p>{{ticket.title}}</p>
    {% endfor %}
    <hr width="500" size="2" color="#ff0000" />

    <p>Назначенные тикеты</p>
    {% for ticket in in_progress_tickets %}
    <p>{{ticket.title}}</p>
    {% endfor %}
    <hr  width="500" size="2" color="#ff0000" />

    <p>Закрытые тикеты</p>
    {% for ticket in done_tickets %}
    <p>{{ticket.title}}</p>
    {% endfor %}
    <hr width="500" size="2" color="#ff0000" />

    <p>Девелоперы</p>
    {% for developer in project.developers.all %}
    <p>{{developer.username}}</p>
    {% endfor %}
</div>
</body>