{% extends "./base.html" %}
{% block content %}
<div class="container">
    <h3>Project: {{project.title}}</h3>
    <h4 style="padding: 15px">{{project.description}}</h4>
    <div class="flex-parent">
        {% for status in status_list %}
        <div class="stolb">
            <div class="title">{{ status }}</div>
            {% for ticket in tickets %}
                {% if ticket.status == status %}
                <div class="card" style="width: 20rem; margin-bottom: 10px">
                  <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'ticket' project_id=project.id ticket_id=ticket.id %}">{{ticket.title}}</a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ticket.assignee}}</h6>
                    <p class="card-text">{{ticket.description}}</p>
                  </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}