
<body>
<div align="center">
    <p align="left">Дезигн</p>
    <p>{{project.id}}</p>
    <p>{{project.title}}</p>
    <p>{{project.description}}</p>
    {% for status in status_list %}
        <br>
        <h4>{{status}}</h4>
        {% for ticket in tickets %}
            {% if ticket.status == status %}
            <p>{{ticket.title}}</p>
            {% endif %}
        {% endfor %}
        <hr width="500" size="2" color="#ff0000" />

    {% endfor %}
    <p>Девелоперы</p>
    {% for developer in project.developers.all %}
    <p>{{developer.username}}</p>
    {% endfor %}
</div>
</body>