<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Project Management System{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
</head>
<style>
    .flex-parent {display: flex;}
    .stolb {flex: 1 1 auto; margin-right: 20px;}
    .title {font-size: 26px; margin-bottom: 20px}
</style>
<body>
    {% block header %}
    <div class="container">
        <header class="header clearfix" style="margin-bottom: 20px; margin-top: 20px;">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link">User: {{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout">Log out</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><font color="">Project Management System</font></h3>
        </header>
    </div>
    {% endblock %}
    {% block content %} {% endblock %}
</body>
</html>